In [1]:
import pandas as pd
Location = "inspections2.csv"
df1 = pd.read_csv(Location)
df1.head()

,activity_date,employee_id,facility_address,facility_city,facility_id,facility_name,facility_state,facility_zip,grade,owner_id,owner_name,pe_description,program_element_pe,program_name,program_status,record_id,score,serial_number,service_code,service_description
0,5/9/2017,EE0000593,17660 CHATSWORTH ST,GRANADA HILLS,FA0175397,HOVIK'S FAMOUS MEAT & DELI,CA,91344,A,OW0181955,JOHN'S FAMOUS MEAT & DELI INC.,"FOOD MKT RETAIL (25-1,999 SF) HIGH RISK",1612,HOVIK'S FAMOUS MEAT & DELI,ACTIVE,PR0168541,98,DAHDRUQZO,1,ROUTINE INSPECTION
1,4/10/2017,EE0000126,3615 PACIFIC COAST HWY,TORRANCE,FA0242138,SHAKEY'S PIZZA,CA,90505,A,OW0237843,"SCO, LLC",RESTAURANT (61-150) SEATS HIGH RISK,1638,SHAKEY'S PIZZA,ACTIVE,PR0190290,94,DAL3SBUE0,1,ROUTINE INSPECTION
2,4/4/2017,EE0000593,17515 CHATSWORTH ST,GRANADA HILLS,FA0007801,BAITH AL HALAL,CA,91344,A,OW0031150,SABIR MOHAMMAD SHAHID,"FOOD MKT RETAIL (25-1,999 SF) HIGH RISK",1612,BAITH AL HALAL,INACTIVE,PR0036723,95,DAL2PIKJU,1,ROUTINE INSPECTION
3,8/15/2017,EE0000971,44455 VALLEY CENTRAL WAY,LANCASTER,FA0013858,FOOD 4 LESS #306,CA,93536,A,OW0012108,"FOOD 4 LESS, INC.",RESTAURANT (0-30) SEATS HIGH RISK,1632,FOOD 4 LESS DELI/BAKERY#306,ACTIVE,PR0039905,98,DA0ZMAJXZ,1,ROUTINE INSPECTION
4,9/26/2016,EE0000145,11700 SOUTH ST,ARTESIA,FA0179671,PHO LITTLE SAIGON,CA,90701,A,OW0185167,PHO SOUTH ST INC,RESTAURANT (61-150) SEATS HIGH RISK,1638,PHO LITTLE SAIGON,ACTIVE,PR0173311,96,DA41DBXA2,1,ROUTINE INSPECTION

In [2]:
Location2 = "violations.csv"
df2 = pd.read_csv(Location2)
df2.head()

,points,serial_number,violation_code,violation_description,violation_status
0,1,DAJ5UNMSF,F044,"# 44. Floors, walls and ceilings: properly bui...",OUT OF COMPLIANCE
1,4,DAT2HKIRE,F007,# 07. Proper hot and cold holding temperatures,OUT OF COMPLIANCE
2,1,DAT2HKIRE,F033,# 33. Nonfood-contact surfaces clean and in go...,OUT OF COMPLIANCE
3,1,DAT2HKIRE,F035,# 35. Equipment/Utensils - approved; installed...,OUT OF COMPLIANCE
4,1,DAQN0I8EA,F033,# 33. Nonfood-contact surfaces clean and in go...,OUT OF COMPLIANCE

In [3]:
df1.shape

(191371, 20)

In [4]:
df1.describe()
#No missing data
#dependent variable is Score.

        facility_zip  program_element_pe          score   service_code
count  191371.000000       191371.000000  191371.000000  191371.000000
mean    90809.459908         1629.888980      93.753306       7.078246
std       789.110620            9.391426       3.845518      48.932257
min     90001.000000         1610.000000      54.000000       1.000000
25%     90057.000000         1631.000000      91.000000       1.000000
50%     90640.000000         1632.000000      94.000000       1.000000
75%     91401.000000         1635.000000      97.000000       1.000000
max     93591.000000         1641.000000     100.000000     401.000000

In [5]:
categorical = df1.dtypes[df1.dtypes == "object"].index
print(categorical)
df1[categorical].describe()
# Most of the facilities inspected are in Los Angeles(53669/191371), that is 28%.
# Most of the facilities got an A (181278/191371), i.e. 95%

Index(['activity_date', 'employee_id', 'facility_address', 'facility_city',
       'facility_id', 'facility_name', 'facility_state', 'grade', 'owner_id',
       'owner_name', 'pe_description', 'program_name', 'program_status',
       'record_id', 'serial_number', 'service_description'],
      dtype='object')

,activity_date,employee_id,facility_address,facility_city,facility_id,facility_name,facility_state,grade,owner_id,owner_name,pe_description,program_name,program_status,record_id,serial_number,service_description
count,191371,191371,191371,191371,191371,191371,191371,191371,191371,191371,191371,190969,191371,191371,191371,191371
unique,742,250,39283,181,44031,36627,3,4,35713,34708,18,38988,2,47445,191371,2
top,8/9/2016,EE0000721,1000 VIN SCULLY AVE,LOS ANGELES,FA0019271,SUBWAY,CA,A,OW0029458,RALPHS GROCERY COMPANY,RESTAURANT (0-30) SEATS HIGH RISK,SUBWAY,ACTIVE,PR0164507,DAWL3YVAZ,ROUTINE INSPECTION
freq,562,4006,383,53669,380,576,191317,181278,2134,2134,38881,630,169477,10,1,188463

In [6]:
df2.shape

(906014, 5)

In [7]:
df2.describe()

              points
count  906014.000000
mean        1.331127
std         0.807775
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max        11.000000

In [8]:
categorical = df2.dtypes[df2.dtypes == "object"].index
print(categorical)
df2[categorical].describe()
#Most common violation code is F044
# The serial number with most frequent violations is DA0JOOEF0

Index(['serial_number', 'violation_code', 'violation_description',
       'violation_status'],
      dtype='object')

,serial_number,violation_code,violation_description,violation_status
count,906014,906014,906014,906014
unique,190828,116,112,2
top,DA0JOOEF0,F044,"# 44. Floors, walls and ceilings: properly bui...",OUT OF COMPLIANCE
freq,111,102012,102012,906013

In [9]:
del df1["employee_id"]
del df1["facility_address"]
del df1["facility_id"]
del df1["facility_name"]
del df1["facility_state"]
del df1["owner_id"]
del df1["owner_name"]
del df1["program_name"]
del df1["program_status"]
del df1["record_id"]
del df1["service_code"]
del df1["service_description"]
df1.head()

,activity_date,facility_city,facility_zip,grade,pe_description,program_element_pe,score,serial_number
0,5/9/2017,GRANADA HILLS,91344,A,"FOOD MKT RETAIL (25-1,999 SF) HIGH RISK",1612,98,DAHDRUQZO
1,4/10/2017,TORRANCE,90505,A,RESTAURANT (61-150) SEATS HIGH RISK,1638,94,DAL3SBUE0
2,4/4/2017,GRANADA HILLS,91344,A,"FOOD MKT RETAIL (25-1,999 SF) HIGH RISK",1612,95,DAL2PIKJU
3,8/15/2017,LANCASTER,93536,A,RESTAURANT (0-30) SEATS HIGH RISK,1632,98,DA0ZMAJXZ
4,9/26/2016,ARTESIA,90701,A,RESTAURANT (61-150) SEATS HIGH RISK,1638,96,DA41DBXA2

In [10]:
df1['Date'] = pd.to_datetime(df1['activity_date'])
df = pd.DataFrame(df1)
df['Year'] = df['Date'].dt.year
df['Quarter'] = df['Date'].dt.quarter
df1.head()

,activity_date,facility_city,facility_zip,grade,pe_description,program_element_pe,score,serial_number,Date,Year,Quarter
0,5/9/2017,GRANADA HILLS,91344,A,"FOOD MKT RETAIL (25-1,999 SF) HIGH RISK",1612,98,DAHDRUQZO,2017-05-09,2017,2
1,4/10/2017,TORRANCE,90505,A,RESTAURANT (61-150) SEATS HIGH RISK,1638,94,DAL3SBUE0,2017-04-10,2017,2
2,4/4/2017,GRANADA HILLS,91344,A,"FOOD MKT RETAIL (25-1,999 SF) HIGH RISK",1612,95,DAL2PIKJU,2017-04-04,2017,2
3,8/15/2017,LANCASTER,93536,A,RESTAURANT (0-30) SEATS HIGH RISK,1632,98,DA0ZMAJXZ,2017-08-15,2017,3
4,9/26/2016,ARTESIA,90701,A,RESTAURANT (61-150) SEATS HIGH RISK,1638,96,DA41DBXA2,2016-09-26,2016,3

In [11]:
import numpy as np
df1['highrisk'] = df1['program_element_pe'].isin([1612,1615,1632,1635,1638,1641]).astype(int)
df1.tail()

,activity_date,facility_city,facility_zip,grade,pe_description,program_element_pe,score,serial_number,Date,Year,Quarter,highrisk
191366,5/10/2016,LOS ANGELES,90005,A,RESTAURANT (0-30) SEATS LOW RISK,1630,98,DAQW0V2BJ,2016-05-10,2016,2,0
191367,8/17/2016,GARDENA,90249,A,RESTAURANT (0-30) SEATS HIGH RISK,1632,92,DAV0HVX0C,2016-08-17,2016,3,1
191368,6/30/2016,ARTESIA,90701,A,RESTAURANT (31-60) SEATS HIGH RISK,1635,90,DATL8XDYB,2016-06-30,2016,2,1
191369,12/6/2016,SAN PEDRO,90731,A,RESTAURANT (31-60) SEATS HIGH RISK,1635,92,DA3FOEGAF,2016-12-06,2016,4,1
191370,3/20/2017,LOS ANGELES,90007,A,RESTAURANT (0-30) SEATS HIGH RISK,1632,95,DAOU061N2,2017-03-20,2017,1,1

In [13]:
import numpy as np
df1['InLA'] = df1['facility_city'].isin(['LOS ANGELES']).astype(int)
df1.tail()

,activity_date,facility_city,facility_zip,grade,pe_description,program_element_pe,score,serial_number,Date,Year,Quarter,highrisk,InLA
191366,5/10/2016,LOS ANGELES,90005,A,RESTAURANT (0-30) SEATS LOW RISK,1630,98,DAQW0V2BJ,2016-05-10,2016,2,0,1
191367,8/17/2016,GARDENA,90249,A,RESTAURANT (0-30) SEATS HIGH RISK,1632,92,DAV0HVX0C,2016-08-17,2016,3,1,0
191368,6/30/2016,ARTESIA,90701,A,RESTAURANT (31-60) SEATS HIGH RISK,1635,90,DATL8XDYB,2016-06-30,2016,2,1,0
191369,12/6/2016,SAN PEDRO,90731,A,RESTAURANT (31-60) SEATS HIGH RISK,1635,92,DA3FOEGAF,2016-12-06,2016,4,1,0
191370,3/20/2017,LOS ANGELES,90007,A,RESTAURANT (0-30) SEATS HIGH RISK,1632,95,DAOU061N2,2017-03-20,2017,1,1,1

In [14]:
import numpy as np
df1['GradeA'] = df1['grade'].isin(['A']).astype(int)
df1.head()

,activity_date,facility_city,facility_zip,grade,pe_description,program_element_pe,score,serial_number,Date,Year,Quarter,highrisk,InLA,GradeA
0,5/9/2017,GRANADA HILLS,91344,A,"FOOD MKT RETAIL (25-1,999 SF) HIGH RISK",1612,98,DAHDRUQZO,2017-05-09,2017,2,1,0,1
1,4/10/2017,TORRANCE,90505,A,RESTAURANT (61-150) SEATS HIGH RISK,1638,94,DAL3SBUE0,2017-04-10,2017,2,1,0,1
2,4/4/2017,GRANADA HILLS,91344,A,"FOOD MKT RETAIL (25-1,999 SF) HIGH RISK",1612,95,DAL2PIKJU,2017-04-04,2017,2,1,0,1
3,8/15/2017,LANCASTER,93536,A,RESTAURANT (0-30) SEATS HIGH RISK,1632,98,DA0ZMAJXZ,2017-08-15,2017,3,1,0,1
4,9/26/2016,ARTESIA,90701,A,RESTAURANT (61-150) SEATS HIGH RISK,1638,96,DA41DBXA2,2016-09-26,2016,3,1,0,1

In [15]:
pd.value_counts(df1['Year'])
#only 6 months in 2015 are recorded

2016    79991
2017    76008
2015    35372
Name: Year, dtype: int64

In [16]:
pd.value_counts(df1['Quarter'])

3    55063
4    55049
2    41125
1    40134
Name: Quarter, dtype: int64

In [17]:
pd.value_counts(df1['highrisk'])
#Most of the facilities are high risk (117806/191371), i.e. 62%

1    117806
0     73565
Name: highrisk, dtype: int64

In [18]:
pd.value_counts(df1['InLA'])

0    137702
1     53669
Name: InLA, dtype: int64

In [19]:
pd.value_counts(df1['GradeA'])

1    181278
0     10093
Name: GradeA, dtype: int64

In [20]:
df1.corr()
#Most correlations are weak. High risk facilities have a -0.26 correlation.

,facility_zip,program_element_pe,score,Year,Quarter,highrisk,InLA,GradeA
facility_zip,1.000000,0.015668,0.074483,-0.008970,0.022589,-0.013975,-0.615164,0.027193
program_element_pe,0.015668,1.000000,-0.207622,0.006025,0.005748,0.412216,-0.024327,-0.058476
score,0.074483,-0.207622,1.000000,0.010816,-0.020778,-0.259540,-0.080079,0.652823
Year,-0.008970,0.006025,0.010816,1.000000,-0.284913,0.003004,0.002649,-0.000346
Quarter,0.022589,0.005748,-0.020778,-0.284913,1.000000,-0.002278,-0.019128,-0.008907
highrisk,-0.013975,0.412216,-0.259540,0.003004,-0.002278,1.000000,0.007817,-0.091017
InLA,-0.615164,-0.024327,-0.080079,0.002649,-0.019128,0.007817,1.000000,-0.044469
GradeA,0.027193,-0.058476,0.652823,-0.000346,-0.008907,-0.091017,-0.044469,1.000000

In [21]:
import statsmodels.formula.api as sm
result = sm.ols(formula = 'score~Quarter + highrisk + InLA', data=df1).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  score   R-squared:                       0.074
Model:                            OLS   Adj. R-squared:                  0.074
Method:                 Least Squares   F-statistic:                     5096.
Date:                Fri, 26 Oct 2018   Prob (F-statistic):               0.00
Time:                        17:40:51   Log-Likelihood:            -5.2195e+05
No. Observations:              191371   AIC:                         1.044e+06
Df Residuals:                  191367   BIC:                         1.044e+06
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     95.4132      0.025   3798.704      0.000      95.364      95.462
Quarter       -0.0796      0.008    -10.394      0.000      -0.095      -0.065
highrisk      -2.0473      0.017   -117.726      0.000      -2.081      -2.013
InLA          -0.6719      0.019    -35.674      0.000      -0.709      -0.635
==============================================================================
Omnibus:                    52086.996   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           192376.205
Skew:                          -1.335   Prob(JB):                         0.00
Kurtosis:                       7.123   Cond. No.                         10.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [22]:
import statsmodels.formula.api as sm
result = sm.ols(formula = 'score~Quarter + highrisk + InLA -1', data=df1).fit()
result.summary()
# Stronger adj. R-squared after removing intercept
#All P values are significant
#Score increases as Quarter of year increases
#The higher the facility risk, the higher the score
#Living in Los Angeles leads to a higher score than living outside it.

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  score   R-squared:                       0.881
Model:                            OLS   Adj. R-squared:                  0.881
Method:                 Least Squares   F-statistic:                 4.730e+05
Date:                Fri, 26 Oct 2018   Prob (F-statistic):               0.00
Time:                        17:41:31   Log-Likelihood:            -9.3685e+05
No. Observations:              191371   AIC:                         1.874e+06
Df Residuals:                  191368   BIC:                         1.874e+06
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Quarter       23.5857      0.039    606.303      0.000      23.509      23.662
highrisk      26.1136      0.138    189.913      0.000      25.844      26.383
InLA          15.2437      0.161     94.969      0.000      14.929      15.558
==============================================================================
Omnibus:                    13118.913   Durbin-Watson:                   1.779
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5175.467
Skew:                           0.157   Prob(JB):                         0.00
Kurtosis:                       2.258   Cond. No.                         6.50
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [23]:
pd.crosstab(df1.GradeA, df1.highrisk, margins = True)
#Most of the the high risk facilities got Grade A (109699/117806), i.e. 93%

highrisk      0       1     All
GradeA
0          1986    8107   10093
1         71579  109699  181278
All       73565  117806  191371

In [24]:
pd.crosstab(df1.GradeA, df1.InLA, margins = True)
#Most of the facilities in L.A got Grade A (49984/53669), i.e. 93%

InLA         0      1     All
GradeA
0         6408   3685   10093
1       131294  49984  181278
All     137702  53669  191371

In [25]:
pd.crosstab(df1.InLA, df1.highrisk, margins = True)
# only (33365/117806) or 28% of all high risk facilities are found in L.A
# Out of the inspected facilities in L.A, (33365/53669) or 62% were high risk.

highrisk      0       1     All
InLA
0         53261   84441  137702
1         20304   33365   53669
All       73565  117806  191371

In [26]:
pd.pivot_table(df1, index = "highrisk",values = "score", aggfunc = np.mean)
#High Risk facilities got a slightly lower score

              score
highrisk
0         95.016312
1         92.964611

In [27]:
pd.pivot_table(df1, index = ["Year","Quarter"],values = "score", aggfunc = np.mean)
#mean score is relatively the same across all quarters, all years

                  score
Year Quarter
2015 3        93.466648
     4        93.605508
2016 1        93.953794
     2        93.690657
     3        93.861185
     4        94.008194
2017 1        94.036948
     2        93.750272
     3        93.393904
     4        93.703621

In [3]:
import pandas as pd
Location2 = "violations.csv"
df2 = pd.read_csv(Location2)
df2.sort_values('points', inplace = True, ascending = False)
df2.head(20)
#the highest number of points from an inspection was 11.

,points,serial_number,violation_code,violation_description,violation_status
754833,11,DAWS3EHNL,F023,"# 23. No rodents, insects, birds, or animals",OUT OF COMPLIANCE
492051,11,DAUM7N7IO,F023,"# 23. No rodents, insects, birds, or animals",OUT OF COMPLIANCE
676121,11,DA88LNBWP,F023,"# 23. No rodents, insects, birds, or animals",OUT OF COMPLIANCE
674457,11,DAWQTXTR3,F023,"# 23. No rodents, insects, birds, or animals",OUT OF COMPLIANCE
541707,11,DABLK2HXL,F022,# 22. Sewage and wastewater properly disposed,OUT OF COMPLIANCE
882945,11,DAQT0K8VU,F023,"# 23. No rodents, insects, birds, or animals",OUT OF COMPLIANCE
548925,11,DADST3QJ5,F023,"# 23. No rodents, insects, birds, or animals",OUT OF COMPLIANCE
582213,11,DA0Z80QCP,F023,"# 23. No rodents, insects, birds, or animals",OUT OF COMPLIANCE
535074,11,DAQTOQ68E,F023,"# 23. No rodents, insects, birds, or animals",OUT OF COMPLIANCE
633102,11,DA0HE0GN3,F023,"# 23. No rodents, insects, birds, or animals",OUT OF COMPLIANCE
514173,11,DATJ0HR6L,F022,# 22. Sewage and wastewater properly disposed,OUT OF COMPLIANCE
701753,11,DAELZZXBU,F023,"# 23. No rodents, insects, birds, or animals",OUT OF COMPLIANCE
785520,11,DA3TIWJJY,F023,"# 23. No rodents, insects, birds, or animals",OUT OF COMPLIANCE
692827,11,DAUI0BICG,F023,"# 23. No rodents, insects, birds, or animals",OUT OF COMPLIANCE
689854,11,DAHBA5JU7,F023,"# 23. No rodents, insects, birds, or animals",OUT OF COMPLIANCE
734001,11,DANQCVI3B,F023,"# 23. No rodents, insects, birds, or animals",OUT OF COMPLIANCE
788052,11,DATK1LEKS,F023,"# 23. No rodents, insects, birds, or animals",OUT OF COMPLIANCE
468148,11,DAG6Z9JBB,F023,"# 23. No rodents, insects, birds, or animals",OUT OF COMPLIANCE
728929,11,DAGLJNNHL,F023,"# 23. No rodents, insects, birds, or animals",OUT OF COMPLIANCE
658591,11,DAIGKIAAC,F023,"# 23. No rodents, insects, birds, or animals",OUT OF COMPLIANCE

In [4]:
pd.value_counts(df2['points'])
#Most violations led to 1 point deduction.
# Only (1109/906014) violations resulted into 11 points

1     686405
2     162519
4      44684
0      10083
3       1214
11      1109
Name: points, dtype: int64

In [2]:
#Pull out info. related to Serial Number DA0JOOEF0
import pandas as pd
Location2 = "violations.csv"
df2 = pd.read_csv(Location2)
df2.set_index('serial_number')

,points,violation_code,violation_description,violation_status
serial_number,,,,
DAJ5UNMSF,1,F044,"# 44. Floors, walls and ceilings: properly bui...",OUT OF COMPLIANCE
DAT2HKIRE,4,F007,# 07. Proper hot and cold holding temperatures,OUT OF COMPLIANCE
DAT2HKIRE,1,F033,# 33. Nonfood-contact surfaces clean and in go...,OUT OF COMPLIANCE
DAT2HKIRE,1,F035,# 35. Equipment/Utensils - approved; installed...,OUT OF COMPLIANCE
DAQN0I8EA,1,F033,# 33. Nonfood-contact surfaces clean and in go...,OUT OF COMPLIANCE
DAQN0I8EA,2,F007,# 07. Proper hot and cold holding temperatures,OUT OF COMPLIANCE
DAQN0I8EA,1,F035,# 35. Equipment/Utensils - approved; installed...,OUT OF COMPLIANCE
DAQN0I8EA,2,F014,# 14. Food contact surfaces: clean and sanitized,OUT OF COMPLIANCE
DAQN0I8EA,1,F036,"# 36. Equipment, utensils and linens: storage ...",OUT OF COMPLIANCE
DAQN0I8EA,1,F044,"# 44. Floors, walls and ceilings: properly bui...",OUT OF COMPLIANCE
DAQN0I8EA,1,F034,"# 34. Warewashing facilities: Adequate, mainta...",OUT OF COMPLIANCE
DALVZ4JUV,1,F035,# 35. Equipment/Utensils - approved; installed...,OUT OF COMPLIANCE
DALVZ4JUV,2,F007,# 07. Proper hot and cold holding temperatures,OUT OF COMPLIANCE
DALVZ4JUV,1,F040,"# 40. Plumbing: Plumbing in good repair, prope...",OUT OF COMPLIANCE
DALVZ4JUV,2,F006,# 06. Adequate handwashing facilities supplied...,OUT OF COMPLIANCE
DAXJXWTVO,1,F036,"# 36. Equipment, utensils and linens: storage ...",OUT OF COMPLIANCE
DAXJXWTVO,1,F033,# 33. Nonfood-contact surfaces clean and in go...,OUT OF COMPLIANCE
DAXJXWTVO,1,F044,"# 44. Floors, walls and ceilings: properly bui...",OUT OF COMPLIANCE
DAXJXWTVO,1,F035,# 35. Equipment/Utensils - approved; installed...,OUT OF COMPLIANCE
DAXJXWTVO,1,F038,# 38. Thermometers provided and accurate,OUT OF COMPLIANCE
DAXJXWTVO,4,F007,# 07. Proper hot and cold holding temperatures,OUT OF COMPLIANCE
DA7KZFE4Q,1,F043,# 43. Premises; personal/cleaning items; vermi...,OUT OF COMPLIANCE
DA7KZFE4Q,1,F039,# 39. Wiping cloths: properly used and stored,OUT OF COMPLIANCE
DA7KZFE4Q,1,F044,"# 44. Floors, walls and ceilings: properly bui...",OUT OF COMPLIANCE
DA7KZFE4Q,1,F033,# 33. Nonfood-contact surfaces clean and in go...,OUT OF COMPLIANCE
DASN4EKRV,1,F044,"# 44. Floors, walls and ceilings: properly bui...",OUT OF COMPLIANCE
DASN4EKRV,1,F036,"# 36. Equipment, utensils and linens: storage ...",OUT OF COMPLIANCE
DASN4EKRV,1,F048,# 47. Permits Available,OUT OF COMPLIANCE
DASN4EKRV,1,F046,# 46. Signs posted; last inspection report ava...,OUT OF COMPLIANCE
DASN4EKRV,1,F037,# 37. Adequate ventilation and lighting; desig...,OUT OF COMPLIANCE
...,...,...,...,...
DARMMDOQJ,4,F007,# 07. Proper hot and cold holding temperatures,OUT OF COMPLIANCE
DAGPT1SCB,1,F035,# 35. Equipment/Utensils - approved; installed...,OUT OF COMPLIANCE
DAVOL5QAQ,1,F041,# 41. Garbage and refuse properly disposed; fa...,OUT OF COMPLIANCE
DA60WCKK0,1,F034,"# 34. Warewashing facilities: Adequate, mainta...",OUT OF COMPLIANCE
DA3WIW498,1,F030,# 30. Food properly stored; food storage conta...,OUT OF COMPLIANCE
DAGIMR9TX,4,F023,"# 23. No rodents, insects, birds, or animals",OUT OF COMPLIANCE
DA8F4OBI6,1,F033,# 33. Nonfood-contact surfaces clean and in go...,OUT OF COMPLIANCE
DAX6M0SXX,4,F007,# 07. Proper hot and cold holding temperatures,OUT OF COMPLIANCE
DAU1FV0OW,1,F025,# 25. Personal cleanliness and hair restraints,OUT OF COMPLIANCE
DAJDL92QL,1,F043,# 43. Premises; personal/cleaning items; vermi...,OUT OF COMPLIANCE
DANVYKY0K,1,F043,# 43. Premises; personal/cleaning items; vermi...,OUT OF COMPLIANCE
DAL0YBDN9,1,F035,# 35. Equipment/Utensils - approved; installed...,OUT OF COMPLIANCE
DAUVZTFQZ,1,F043,# 43. Premises; personal/cleaning items; vermi...,OUT OF COMPLIANCE
DA63WQLNO,1,F035,# 35. Equipment/Utensils - approved; installed...,OUT OF COMPLIANCE
DAFNL0P8A,4,F014,# 14. Food contact surfaces: clean and sanitized,OUT OF COMPLIANCE
DAED0U1WP,1,F039,# 39. Wiping cloths: properly used and stored,OUT OF COMPLIANCE
DAIRN2H9V,2,F052,# 01b. Food safety certification,OUT OF COMPLIANCE
DALJFNFQJ,1,F046,# 46. Signs posted; last inspection report ava...,OUT OF COMPLIANCE
DAYXNTRGO,1,F030,# 30. Food properly stored; food storage conta...,OUT OF COMPLIANCE
DASOASBXJ,1,F044,"# 44. Floors, walls and ceilings: properly bui...",OUT OF COMPLIANCE
DAK5JDQ6Y,1,F035,# 35. Equipment/Utensils - approved; installed...,OUT OF COMPLIANCE
DAO5SUXSQ,1,F033,# 33. Nonfood-contact surfaces clean and in go...,OUT OF COMPLIANCE
DABUQQDDO,2,F023,"# 23. No rodents, insects, birds, or animals",OUT OF COMPLIANCE
DABV04BNM,1,F046,# 46. Signs posted; last inspection report ava...,OUT OF COMPLIANCE
DALOVITGM,2,F001,# 01a. Demonstration of knowledge,OUT OF COMPLIANCE
DANVC18XM,1,F034,"# 34. Warewashing facilities: Adequate, mainta...",OUT OF COMPLIANCE
DAFICC8TU,2,F014,# 14. Food contact surfaces: clean and sanitized,OUT OF COMPLIANCE
DAK5CJ7VO,1,F043,# 43. Premises; personal/cleaning items; vermi...,OUT OF COMPLIANCE
DAZ6F4RGR,1,F025,# 25. Personal cleanliness and hair restraints,OUT OF COMPLIANCE
DAIHLN68K,1,F033,# 33. Nonfood-contact surfaces clean and in go...,OUT OF COMPLIANCE